@import url(./normalize.css);
@import url(./fonts.css);

@import url(../blocks/page/page.css);
@import url(../blocks/page/__position/page__position.css);
@import url(../blocks/header/header.css);
@import url(../blocks/header/__logo/header__logo.css);
@import url(../blocks/header/__tel/header__tel.css);
@import url(../blocks/header/__tel-text/header__tel-text.css);
@import url(../blocks/header/__covid/header__covid.css);
@import url(../blocks/header/__language/header__language.css);
@import url(../blocks/header/__entry/header__entry.css);
@import url(../blocks/header/__btn/header__btn.css);


@import url(../blocks/info/info.css);
@import url(../blocks/info/__block/info__block.css);
@import url(../blocks/info/__nav/info__nav.css);
@import url(../blocks/info/__nav-item/info__nav-item.css);
@import url(../blocks/info/__title/info__title.css);
@import url(../blocks/info/__list/info__list.css);
@import url(../blocks/info/__list-item/info__list-item.css);
@import url(../blocks/info/__btn/info__btn.css);

@import url(../blocks/work/work.css);
@import url(../blocks/work/__cards/wokr__cards.css);
@import url(../blocks/work/__card/work__card.css);
@import url(../blocks/work/__title/work__title.css);
@import url(../blocks/work/__card-title/work__card-title.css);
@import url(../blocks/work/__img/work__img.css);
@import url(../blocks/work/__text/work__text.css);

@import url(../blocks/btn-link/btn-link.css);
@import url(../blocks/btn-link/__item/btn-link__item.css);
@import url(../blocks/btn-link/__text/btn-link__text.css);

@import url(../blocks/list/list.css);
@import url(../blocks/list/__item/list__item.css);
@import url(../blocks/list/__item/_color-line/list__item_color-line.css);

@import url(../blocks/directions/directions.css);
@import url(../blocks/directions/__title/directions__title.css);
@import url(../blocks/directions/__list/directions__list.css);
@import url(../blocks/directions/__img/directions__img.css);

@import url(../blocks/products/products.css);
@import url(../blocks/products/__title/products__title.css);
@import url(../blocks/products/__item/products__item.css);
@import url(../blocks/products/__item/_right/products__item_right.css);
@import url(../blocks/products/_list/products_list_right.css);
@import url(../blocks/products/_list/products_list_left.css);
@import url(../blocks/products/__img/products__img.css);
@import url(../blocks/products/__img/_right/products__img_right.css);

@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__content/footor__content.css);
@import url(../blocks/footer/__contact/footer__contact.css);
@import url(../blocks/footer/__logo/footer__logo.css);
@import url(../blocks/footer/__contact-text/footer__contact-text.css);
@import url(../blocks/footer/__menu-title/foter__menu-title.css);
@import url(../blocks/footer/__list/footer__list.css);
@import url(../blocks/footer/__list-item/footer__list-item.css);
@import url(../blocks/footer/__mail-title/footer__mail-title.css);
@import url(../blocks/footer/__input/footer__input.css);
@import url(../blocks/footer/__btn/footer__btn.css);


/*

.класс:hover {
  opacity: .5;
  cursor: pointer;
  transition: opacity .4s ease;
}

*/



